<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <span class="brand-text">Nixon Tours</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="paquetes.html">Paquetes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cotizacion.html">Cotización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contacto</a>
                </li>
                <li class="nav-item ms-lg-3">
                    <a href="https://wa.me/50769420000" target="_blank" class="btn btn-primary nav-btn">
                        <i class="bi bi-whatsapp me-2"></i>Reserva Ya
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> 